[snowflake_source_account]
user = Your_snowflake_username (*this may be different than your login name)
private_key = my_private_key_path (ex: key_example_files/rsa_key.p8)
account = account_id.region.cloud_provider (ex: ab12345.us-east-2.aws, format may differ depending on region)
warehouse = warehouse_name (ex: COMPUTE_WH)


[snowflake_target_account]
user = Your_snowflake_username (*this may be different than your login name)
private_key = my_pass
account = account_id.region.cloud_provider (ex: ab12345.us-east-2.aws, format may differ depending on region)
warehouse = warehouse_name (ex: COMPUTE_WH)
